# azure-pipelines.yml (exemplo)
trigger:
  branches:
    include: ['main', 'develop']

pool:
  vmImage: 'ubuntu-latest'

variables:
  NODE_VERSION: '18'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '$(NODE_VERSION)'
  displayName: 'Install Node.js'

- script: |
    npm ci
    npm run lint --if-present
    npm run test --if-present
  displayName: 'Install and test'

- script: |
    npm run build --if-present
  displayName: 'Build'
